cycler==0.10.0
dj-database-url==0.4.2
Django==1.10.5
django-bootstrap3==8.1.0
django-crispy-forms==1.6.1
django-markdown-deux==1.0.5
django-pagedown==0.1.1
gunicorn==19.6.0
markdown2==2.3.3
matplotlib==1.5.3
numpy==1.11.3
olefile==0.44
Pillow==4.0.0
psycopg2==2.6.2
pygame==1.9.2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
virtualenv==15.1.0
virtualenvwrapper-win==1.2.1
whitenoise==3.3.0
